<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./materialize.min.css">
    <link rel="stylesheet" href="./styles.css">
    <title>Traveler Panel</title>
</head>

<body>
    <div class="forBackRegister">
        <a class="btn-floating btn-large waves-effect waves-light red" href="./agentMy"><img
                src="./ASSETS/icons/back.png" alt=""></a>
        <br><br><br>
        <div class="regForm">
            <h3>Edit My Details</h3>
            <form method="POST" class="row regFormInside">
                <div class="input-field col s12">
                    <label for="FName">First Name</label>
                    <input id="FName" type="text" value="<%=agent[0].FName%>" name="fname" class="validate">
                </div>
                <div class="input-field col s12">
                    <input id="LName" type="text" value="<%=agent[0].LName%>" name="lname" class="validate">
                    <label for="LName">Last Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="House" type="number" value="<%=agent[0].House%>" name="house" class="validate">
                    <label for="House">House No</label>
                </div>
                <div class="input-field col s12">
                    <input id="Street" type="text" value="<%=agent[0].Street%>" name="street" class="validate">
                    <label for="Street">Street No</label>
                </div>
                <div class="input-field col s12">
                    <input id="Block" type="text" value="<%=agent[0].Block%>" name="block" class="validate">
                    <label for="Block">Block</label>
                </div>
                <div class="input-field col s12">
                    <input id="City" type="text" value="<%=agent[0].City%>" name="city" class="validate">
                    <label for="City">City</label>
                </div>
                <div class="input-field col s12">
                    <input id="Country" type="text" value="<%=agent[0].Country%>" name="country" class="validate">
                    <label for="Country">Country</label>
                </div>
                <div class="input-field col s12">
                    <input id="phone" type="number" name="phone" value="<%=agent[0].PhoneNo%>" required class="validate">
                    <label for="phone">Phone no</label>
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" name="email" value="<%=agent[0].Email%>" required class="validate">
                    <label for="email">Email ID</label>
                </div>
                <div class="input-field col s12">
                    <select name="location">
                        <option value="" disabled>Choose your option</option>
                        <%locations.forEach(location => {%>
                        <%if(location.LocationID == agent[0].LocationID){%>
                        <option value="<%=location.LocationID%>" selected><%=location.LocName%></option>
                        <%}else{%>
                            <option value="<%=location.LocationID%>"><%=location.LocName%></option>
                        <%}});%>
                    </select>
                    <label>Select Location</label>
                </div>
                <button class="waves-effect waves-light btn-large signinbutton" type="submit"
                    href="./agentMy">Save the Edit</button>
            </form>
        </div>
        <br><br><br>

    </div>
    <script src="./materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems);
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems);
        });
    </script>

</body>

</html>